root {
    -fx-background-color: #d3d3d3;
}

#BlocoPrincipal {
    -fx-border-radius: 50px;
    -fx-border-color: #202020;
    -fx-border-width: 8px;
    -fx-background-color: #333333;
    -fx-background-radius: 50px;
    -fx-padding: 10px;
}

Label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial", sans-serif;
}

Button {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial", sans-serif;
    -fx-cursor: hand;
}

RadioButton {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial", sans-serif;
}